apiVersion: v1
kind: ConfigMap
metadata:
  name: order-service-config
  namespace: ecommerce
  labels:
    app: order-service
data:
  PG_HOST: "postgres.datastore.svc.cluster.local"
  PG_PORT: "5432"
  PG_NAME: "ecommerce"
  PG_USER: "ecommerce"
  GRPC_SERVER_PORT: "50051"
  HTTP_HEALTH_PORT: "8080"