apiVersion: v1
kind: Secret
metadata:
  name: kafka-credentials
type: Opaque
stringData:
  # ВАЖНО: Скопируйте этот файл в kafka-credentials.yaml и замените значения
  username: "REPLACE_WITH_YOUR_USERNAME"
  password: "REPLACE_WITH_YOUR_PASSWORD"