apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: sso-service-hpa
  namespace: ecommerce
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: sso-service
  minReplicas: 3
  maxReplicas: 10
  metrics:
    # Масштабирование только по CPU (проще и понятнее)
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70