apiVersion: v1
kind: Service
metadata:
  name: products-service
  namespace: ecommerce
  labels:
    app: products-service
spec:
  type: ClusterIP
  selector:
    app: products-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
    - name: grpc-products
      port: 50051
      targetPort: 50051
      protocol: TCP
    - name: grpc-saga
      port: 50052
      targetPort: 50052
      protocol: TCP