apiVersion: v1
kind: Service
metadata:
  name: saga-orchestrator
  namespace: ecommerce
  labels:
    app: saga-orchestrator
spec:
  type: ClusterIP
  ports:
  - port: 50051
    targetPort: 50051
    protocol: TCP
    name: grpc
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http-health
  selector:
    app: saga-orchestrator